.iconButton {
  transition: all 0.6s !important;
}

.iconButton:hover {
  background-color: blueviolet !important;
  box-shadow: 0px 7px 7px !important;
}

.todoCard {
  transition: all 0.5s !important;
}
.todoCard:hover {
  padding-bottom: 10px;
  padding-top: 10px;
  box-shadow: 0px 7px 7px rgb(0, 0, 0, 0.4);
}

@font-face {
  font-family: A;
  src: url(../public/fonts/OpenSans_Condensed-Italic.ttf);
  font-weight: normal;
}
@font-face {
  font-family: B;
  src: url(../public/fonts/OpenSans-BoldItalic.ttf);
  font-weight: bold;
}
